@model Barker.Models.UserViewModels.HomeViewModel

@{
  ViewData["Title"] = "Home Page";
}

@await Html.PartialAsync("_Navbar", Model.PostVm)

<div class="row">

  <!-- Left Column -->
  <div class="col-md-3 col-sm-4 profile-card">
    <div class="profile-card-bubble"></div>
    <a  asp-controller="User" asp-action="Profile">
      <div class="profile-card-image-background">
        <!-- if the profile image exist, display it. otherwise display the default image -->
        <!-- <img class="profile-image" src=""> -->
      </div>
    </a>
    <div class="profile-card-info">
      <p class="profile-card-username">@Model.UserName</p>
    </div>
    <div class="row profile-card-notifications">
      <div class="col-xs-4">
        <a class="profile-card-link" href="#">
          <div>
            Barks
          </div>
          <div>
            @Model.BarksCount
          </div>
        </a>
      </div>
      <div class="col-xs-4">
        <a class="profile-card-link" href="#">
          <div>
            Following
          </div>
          <div>
            @Model.FollowingCount
          </div>
        </a>
      </div>
      <div class="col-xs-4">
        <a class="profile-card-link" href="#">
          <div>
            Followers
          </div>
          <div>
            @Model.FollowersCount
          </div>
        </a>
      </div>
    </div>
  </div>

  <!-- Center column -->
  <div class="col-md-6 col-sm-8 feed">
    <h4>
      Something on your mind?
    </h4>
    @await Html.PartialAsync("_SubmitPostPartial", Model.PostVm)
    @await Html.PartialAsync("_FeedPartial", "")
  </div>

  <!-- Right column -->
  <div class="col-md-3 col-sm-4 recommendations-box">
    <h4>
      <strong>Check these people out!</strong>
    </h4>
    <div class="recommendations">
      <hr>
      @foreach(var user in @Model.OtherUsers)
      {
        <a asp-action="Profile" asp-controller="User" asp-route-userName="@user">
          <div>
            <h4>@user</h4>
            <hr>
          </div>
        </a>
      }
    </div>
  </div>
</div>
