@model Barker.Models.UserViewModels.HomeViewModel

@{
  ViewData["Title"] = "Home Page";
}

@await Html.PartialAsync("_Navbar", Model.PostVm)

<div class="row">

  <!-- Left Column -->
  <div class="col-md-3 col-sm-4 profile-card">
    <div class="profile-card-bubble"></div>
    <a  asp-controller="User" asp-action="Profile">
      <div class="profile-card-image-background">
        @if(Model.ProfileImageId != Guid.Empty)
        {
          <img class="profile-image" src="/Image/ViewImage?id=@Model.ProfileImageId" />
        }
      </div>
    </a>
    <div class="profile-card-info">
      <p class="profile-card-username">@Model.UserName</p>
    </div>
    <div class="row profile-card-notifications">
      <div class="col-xs-4">
        <a class="profile-card-link" asp-controller="User" asp-action="Profile" asp-route-userName="@Model.UserName">
          <div>
            Barks
          </div>
          <div>
            @Model.BarksCount
          </div>
        </a>
      </div>
      <div class="col-xs-4">
        <a class="profile-card-link" asp-controller="User" asp-action="Following" asp-route-userName="@Model.UserName">
          <div>
            Following
          </div>
          <div>
            @Model.FollowingCount
          </div>
        </a>
      </div>
      <div class="col-xs-4">
        <a class="profile-card-link" asp-controller="User" asp-action="Profile" asp-route-userName="@Model.UserName">
          <div>
            Followers
          </div>
          <div>
            @Model.FollowersCount
          </div>
        </a>
      </div>
    </div>
  </div>

  <!-- Center column -->
  <div class="col-md-6 col-sm-8 feed">
    <h4>
      Something on your mind?
    </h4>
    @await Html.PartialAsync("_SubmitPostPartial", Model.PostVm)
    @await Html.PartialAsync("_FeedPartial", "/Post/GetPostFeed/")
  </div>

  <!-- Right column -->
  <div class="col-md-3 col-sm-4 recommendations-box">
    <h4>
      <strong>Check these people out!</strong>
    </h4>
    <div class="recommendations">
      <hr>
      @foreach(var user in @Model.OtherUsers)
      {
        <div style="display: block;">
          <a asp-action="Profile" asp-controller="User" asp-route-userName="@user">
            <h4 style="display: inline; padding-top: 10px;">@user</h4>
          </a>
          @{string followMessage = Model.Following.Contains(user) ? "- Unfollow" : "+ Follow";}
          <a style="margin-right: 5px;" asp-action="ToggleFollow" asp-controller="Follow" asp-route-userName="@user" role="button" class="follow-button btn btn-warning pull-right">@followMessage</a>
        </div>
        <hr>
      }
    </div>
  </div>
</div>

@await Html.PartialAsync("_EditPostPartial", @Model.PostVm)