@model Barker.Models.UserViewModels.ProfileViewModel

@{
  ViewData["Title"] = "Home Page";
}

@await Html.PartialAsync("_Navbar", Model.PostVm)

<div class="row">

  <!-- left column -->
  <div class="col-md-3 col-sm-4 ">
    <a href="#">
      <img src="http://wvs.topleftpixel.com/photos/2008/12/san-fransisco_long-street_-01.jpg" width="100%">
      <!-- if the profile image exist, display it. otherwise display the default image -->
      <!-- <img class="profile-image" src=""> -->
    </a>
    <div class="bio">
      <p>@Model.UserName</p>
      <p>Lorem ipsum dolor set</p>
      <p>Date Joined: @Model.JoinDate</p>
    </div>
    @{string followMessage = @Model.IsFollowing? "- Unfollow" : "+ Follow";}
    <form asp-action="ToggleFollow" asp-controller="Follow" asp-route-userName="@Model.UserName" id="follow-form">
      <button type="button submit" id="follow-button" class="btn btn-warning">@followMessage</button>
    </form>
  </div>

  <!-- middle column -->
  <div class="col-md-6 col-sm-8 feed">
    <div class="row top-feed-notifications">
      <div class="col-xs-3">
        <a class="profile-feed-link" href="#">
          <div>
            Barks
          </div>
          <div>
            @Model.BarksCount
          </div>
        </a>
      </div>
      <div class="col-xs-3">
        <a class="profile-feed-link" href="#">
          <div>
            Following
          </div>
          <div>
            @Model.FollowingCount
          </div>
        </a>
      </div>
      <div class="col-xs-3">
        <a class="profile-feed-link" href="#">
          <div>
            Followers
          </div>
          <div>
            @Model.FollowersCount
          </div>
        </a>
      </div>
      <div class="col-xs-3">
        <a class="profile-feed-link" href="#">
          <div>
            Likes
          </div>
          <div>
            @Model.LikesCount
          </div>
        </a>
      </div>
    </div>
    @await Html.PartialAsync("_FeedPartial", @Model.UserName)
  </div>

  <!-- right column -->
  <div class="col-md-3 col-sm-4 recommendations-box">
    <h4>
      <strong>Check these people out!</strong>
    </h4>
    <div class="recommendations">
      <hr>
      @foreach(var user in @Model.OtherUsers)
      {
        <a asp-action="Profile" asp-controller="User" asp-route-userName="@user">
          <div>
            <h4>@user</h4>
            <hr>
          </div>
        </a>
      }
    </div>
  </div>
</div>
